<RuleConfiguration path="UnitTests.dll" >
  <Rule type="UnitTests.RuleThatAccessesAllLocResourceProperties" enabled="true"></Rule>
  <FilteringExpressions>
      <FilteringExpression>ResourceId.Value.Contains("L_Id1")</FilteringExpression>
  </FilteringExpressions>
  <Rule type="UnitTests.AdjectivePlusPlaceholder" enabled="true"></Rule>
</RuleConfiguration>
